header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

.tabs.custom .col.s3 {
    width: 33.3%;
}

.user-view .background {
    background-color: #757575;
}

/* Riepilogo */
.riepilogo-titolo {
    width: 100%;
    margin-bottom: -20px;
    border-radius: 3px;
    padding: 5px;
    background-color: #e0e0e0;
    position: relative;
}

.riepilogo-titolo a {
    position: absolute;
    right: 10px;
}

.riepilogo-titolo a i {
    color: #000;
}

.promemoria-header {
    background-color: #eeeeee;
    border-radius: 3px;
}

.promemoria-header > blockquote {
    padding: 10px;
    overflow: hidden;
}

/* Fullcalendar customization */
.fc-content {
    padding: 10px;
}

.fc-day-grid-event .fc-content{
    white-space: normal !important;
}

/* .fc-unthemed td.fc-today {
    background: #f8e71c !important;
} */

/* Presa visione */
.pv {
    cursor: pointer;
}