header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

.riepilogo-titolo {
    width: 100%;
    margin-bottom: -20px;
}

/* Riepilogo */
.riepilogo-titolo {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 5px;
}

.promemoria-header {
    background-color: #eeeeee;
    border-radius: 3px;
}

.promemoria-header > blockquote {
    padding: 10px;
}
